<?xml version="1.0"?>
<model>
  <name>trash_bin</name>
  <version>0.1.0</version>
 <sdf version="1.5">model.sdf</sdf>
  <author>
   <name>Isabel Stevenson</name>
   <email>isabel.stevenson@student.uts.edu.au</email>
  </author>
  <sdf>model.sdf</sdf>
  <description>
    Fetch Recycling Can.
  </description>
</model>
